*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header_logo_text{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

}
.header__links{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    
}
.header__button{
    border-radius: 30px;
    background: #F25822;
}
.top_main_text{
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 

}
.top_text{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color: #888;
}
.button__start_now{
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20); 
}
.button__watch_video{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #AAA; 
}

